<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="../content/css/allproducts.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section id="products">
        <div class="container-fluid">
            <div class="section-header">Our Products</div>
            <div class="products">
                <div class="row">
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/pexels-solodsha-7664873.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Lip Stick</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">pulvinar mattis nunc sed blandit libero volutpat sed cras ornare</p>
                            <div class="rating">⭐️⭐️⭐️⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/pexels-lipglooszous.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Lip Gloss</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">vitae semper quis lectus nulla at volutpat diam ut venenatis</p>
                            <div class="rating">⭐️⭐️⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/mascara.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Mascara</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci</p>
                            <div class="rating">⭐️⭐️⭐️⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/pexels-solodsha-7664873.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Lip Stick</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">egestas maecenas pharetra convallis posuere morbi leo urna molestie at</p>
                            <div class="rating">⭐️⭐️⭐️⭐⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/pexels-lipglooszous.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Lip Gloss</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">adipiscing at in tellus integer feugiat scelerisque varius</p>
                            <div class="rating">⭐️⭐️⭐️⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/mascara.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Mascara</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et</p>
                            <div class="rating">⭐️⭐️⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/pexels-solodsha-7664873.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Lip Stick</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">magna etiam tempor orci eu lobortis elementum nibh tellus molestie</p>
                            <div class="rating">⭐️⭐️⭐️⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/pexels-lipglooszous.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Lip Gloss</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                            <div class="rating">⭐️⭐️⭐️⭐⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                    <div class="product-card col">
                        <div class="card-img">
                            <img src="../content/media/img/png/mascara.jpg" alt="...">
                        </div>
                        <div class="card-content">
                            <h5 class="card-name">Mascara</h5>
                            <p class="card-price">80 LE</p>
                            <p class="card-desc">tellus orci ac auctor augue mauris augue neque gravida in fermentum et</p>
                            <div class="rating">⭐️⭐️⭐️⭐⭐️</div>
                            <a href="#" class="card-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>