/* ==================general=============== */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.bg-gray {
    background-color: #efefef;
}

/*! =================general=============== */

/* ==================navbar================ */
.col_row {
    background-color: #fff;
    width: 1px;
    height: 100%;
}

@keyframes nav_animation {
    from {
        background-color: transparent;
    }

    to {
        background-color: #ffffffbe;
    }
}

.solid-nav {
    background-color: #ffffffbe;
    margin: 0px !important;
    animation-name: nav_animation;
    animation-duration: 2s;
}

/*! ==================navbar================ */

/* ==================header=============== */

.h1_header {
    font-size: 85px !important;
}

header {
    overflow: hidden;
}

.h1_span {
    font-size: 110px !important;
    font-family: 'Lexend Deca', sans-serif;
    background-image: linear-gradient(#f8434a, #c7242e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;

}

.h3_span {
    font-size: 50px !important;
    font-family: 'Lexend Deca', sans-serif;
    background-image: linear-gradient(#fff, #d4d4d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;

}

.header_text p {
    font-size: large;
}

.btn_1 {
    background-color: #f13939;
    font-size: medium;
}

.btn_2 {
    background-image: linear-gradient(#ececec, #fff);
    font-size: medium;
    font-weight: bold;
}

.lipstick-div {
    background-color: #282828;
}

.p1_lipstick {
    color: #fafafa;
    font-size: x-large;
    letter-spacing: 2px;
}

.p2_lipstick {
    color: #fafafa;
    font-size: x-large;
}

.lipstick_dotes {
    background-image: linear-gradient(#f8434a, #c7242e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
}

.lip_card {
    background-color: #404040;
    border-left: #828282 3px solid;
    border-top: #828282 3px solid;
    overflow: hidden;
}

/*! =================header=============== */
/*=======================================================
  * Author: Michael khalaf
========================================================*/

/*=======================================================
  * Author: Karen & Mario
========================================================*/
/*! =================Products=============== */

.popular-products{
    width: 95%;
    margin: auto;
}

.view-all {
    position: relative;
    margin-bottom: 20px;
}
  
.view-all a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    top: -30px;
    right: 0;
}

.section-header{
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 5% 0;
}

.product-card{
    text-align: center;
    margin: 3%;
}

.card-img img{
    border-radius: 10px;
    width: 75%;
}

.card-name{
    font-size: 100%;
    font-weight: 400;
    margin: 5% 0;
    font-weight: bold;
}

.card-price{
    font-size: 16px;
}

.card-btn{
    display: inline-block;
    width: 50%;
    text-decoration: none;
    color: white;
    background-color: #282828;
    border-radius: 0.5rem;
    padding: 3% 5%;
    font-weight: 100;
}
/*! =================Products=============== */

/*=======================================================
  * Author: Karen & Mario
========================================================*/

/*=======================================================
  * Author: Maria
========================================================*/
/*! =================Footer=============== */
footer{
    margin: 5% 0;
    height: 100%;
}

.container-fluid{
    position: relative;
}

.footer{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
}

.first-footer{
    background-color: #f13939;
}

.first-footer img{
    flex-basis: 50%;
    width: 50%;
}

.footer-qoute{
    margin-top: 7%;
    flex-basis: 50%;
}

.footer-qoute i{
    font-size: 2rem;
}

.footer-qoute p{
    color: white;
    font-size: 2rem;
    font-weight: lighter;
    
}

.second-footer{
    position: absolute;
    background-color: #282828;
    transform: translateY(-25%);
}

.second-footer img{
    flex-basis: 10%;
    width: 20%;
}

.footer-links{
    flex-basis: 30%;
    width: 100%;
    list-style: none;
    margin-left: 15%;
}

.footer-links a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}

.content {
    flex-basis: 35%;
    width: 10%;
    margin: 2% auto;
    text-align: center;
    z-index: 2; 
}
.content h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 1rem;
}
.content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
}
.content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}
.content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #f13939;
    color: #fff;
    font-weight:600;
}
/*! =================Footer=============== */

